/* AboutUs.css */
.about-us-container {
    padding: 50px;
    background-color: #f1f6fc;
  }
  
  .about-us-title {
    color: #0057b3;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .about-us-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .about-us-container p {
    text-align: justify;
  }
  
  .founder-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .about-us-content {
      flex-direction: column;
      text-align: center;
    }
  
    .about-us-text {
      text-align: center;
    }
  }
  