
  .footer h6 {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer ul {
    padding: 0;
  }
  
  .footer ul li {
    font-size: 13px;
    color: #555;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .footer ul li:hover {
    text-decoration: underline;
  }
  
  /* Blue Section */
  .footer-bottom {
    background: #0052a5; /* Blue background */
    color: white;
    font-size: 13px;
    padding: 20px 0;
  }
  
  .footer-bottom a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }

  .text-white{
    font-size: 15px;
    color: white;
  }
  
  